<nav class="navigation">
  <ul class="navigation__items">
    <li class="navigation__item">
      <a routerLink="/" #tooltip="matTooltip" matTooltip="Dashboard" matTooltipPosition="right">
        <mat-icon class="navigation__icon">desktop_mac</mat-icon>
      </a>
    </li>

    <li class="navigation__item">
      <a routerLink="/tasks" #tooltip="matTooltip" matTooltip="Tasks" matTooltipPosition="right">
        <mat-icon class="navigation__icon">done_outline</mat-icon>
      </a>
    </li>

    <li class="navigation__item">
      <a routerLink="/settings" #tooltip="matTooltip" matTooltip="Settings" matTooltipPosition="right">
        <mat-icon class="navigation__icon">settings</mat-icon>
      </a>
    </li>
  </ul>
</nav>
