<h1 class="h1">The task list</h1>

<button mat-raised-button color="primary" (click)="addNewTask()">+ Add New Task</button>

<table class="table">
  <thead>
    <tr>
      <th>Tracker</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Importance</th>
      <th>Done Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__body-items" *ngFor="let task of tasks">
      <td><span> {{ task?.selectedTracker }} </span></td>
      <td><span> {{ task?.subject }} </span></td>
      <td><span> {{ task?.description }} </span></td>
      <td><span> {{ task?.selectedStatus }} </span></td>
      <td><span> {{ task?.selectedPriority }} </span></td>
      <td><span> {{ task?.selectedImportance }} </span></td>
      <td>
        <span> {{ task?.donePercent }} </span>
        <span> %</span>
      </td>
    </tr>
  </tbody>
</table>
