<h1 class="h1">The task list</h1>

<button mat-raised-button color="primary" (click)="addNewTask()">+ Add New Task</button>

<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <span> {{ task?.selectedTracker }} </span>
    <span> {{ task?.subject }} </span>
    <span> {{ task?.description }} </span>
    <span> {{ task?.selectedStatus }} </span>
    <span> {{ task?.selectedPriority }} </span>
    <span> {{ task?.selectedImportance }} </span>
    <span> {{ task?.selectedDonePercent }} </span>
  </li>
</ul>
