.container {
  padding: 1em;
}

.mat-typography h1 {
  font: 400 2.5em/1em Roboto, "Helvetica Neue", sans-serif;
  color: $black;
  text-transform: capitalize;
}

.mat-raised-button.mat-primary {
  margin-bottom: 1em;
}

.task {

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 1em;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .task__item {
    padding: 0;
  }
}
