<h2>Add New Task</h2>

<div class="task__items">

  <div class="row">

    <div class="col">

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Tracker</mat-label>
        <mat-select [(value)]="selectedTracker">
          <mat-option></mat-option>
          <mat-option [value]="track.value" *ngFor="let track of tracker">{{ track.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Statuses</mat-label>
        <mat-select [(value)]="selectedStatus">
          <mat-option></mat-option>
          <mat-option [value]="status.value" *ngFor="let status of statuses">{{ status.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Priorities</mat-label>
        <mat-select [(value)]="selectedPriority">
          <mat-option></mat-option>
          <mat-option [value]="priority.value" *ngFor="let priority of priorities">{{ priority.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Importance</mat-label>
        <mat-select [(value)]="selectedImportance">
          <mat-option></mat-option>
          <mat-option [value]="important.value" *ngFor="let important of importance">{{ important.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col">

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput type="text" [(ngModel)]="subject">
        <button *ngIf="subject" matSuffix mat-icon-button aria-label="Clear" (click)="subject=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" [(ngModel)]="description">
        <button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="task__item" appearance="fill">
        <mat-label>Done %</mat-label>
        <input type="number"
               matInput
               min="0"
               max="100"
               step="10"
               [(ngModel)]="donePercent"
               pattern="/^-?\d+\.?\d*$/"
               onKeyPress="if(this.value.length==3) return false;"
        />
      </mat-form-field>

    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="saveTask()">Create</button>
</mat-dialog-actions>
